<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Eslam Hamdy. It uses 2 APIs from mabox.com and weatherstack.com</p>
        <img class="portrait" src="/img/pp.jpeg">
    </div>
    
    {{>footer}}
</body>
</html>