<footer>
    <p id="footername">Created by {{name}}</p>
    <a href="https://www.facebook.com/eslam.hamdy.el.sayed.95" target="_blank"><i class="fab fa-2x fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/in/eslam-hamdy-12133b92/" target="_blank"><i class="fab fa-2x fa-linkedin-in"></i></a>
    <a href="https://github.com/eslammm95" target="_blank"><i class="fab fa-2x fa-github"></i></a>
    <a href="mailto:eslam_hamdy_95@hotmail.com" target="_blank"><i class="fas fa-2x fa-at"></i>
</a>
</footer>
