body {
  color: #333333;
  font-family: arial;
  font-weight: bolder;
  text-align-last: center;
  max-width: auto;
  margin: 0 auto;
  padding: 0 20px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  font-family: "Audiowide", sans-serif;
}

.main-content {
  flex-grow: 1;
}

footer {
  font-weight: bold;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

#footername {
    color: #2e2e2e;
}

#message-1 {
  padding-top: 30px;
  color: black;
}

#message-2 {
    color: black;
}

header {
  margin-top: 20px;
  margin-bottom: 30px;
}

nav a {

  color: #2e2e2e;
  font-size: 20px;
  margin-right: 17px;
  text-decoration: none;
}

nav {
  margin-bottom: 30px;
}

.portrait {
  border-radius: 50%;
  width: 120px;
  margin-bottom: 20px !important;
}

#message-1 {
    text-shadow:black;
    text-decoration-style: wavy;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
}

button {
  cursor: pointer;
  border: 1px solid #2e2e2e;
  background: #2e2e2e;
  color: white;
  padding: 8px;
}

i {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

a i {
  text-decoration: none;
}

